body {
    background-color: #f4f4f4;
    color: #444; 
    font-family: Arial, sans-serif; 
  }
  
  .colornav {
    background-color: #ffffff; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: right;
  }
  .ul{
    text-align: center;
  }
  header {
    background-color: #ffffff; 
  }
  a{
    text-decoration: none;
  }
  header nav ul {
    list-style-type: none;
  
  }
  
  header nav ul li {
    text-decoration: none;
    display: inline;
    margin-right: 70px; 
    font-size: 2em;
    text-shadow: 1px 1px 4px black;
    color: #333;
  }
  
  .imagemnav {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 20px auto; 
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-bar button {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 5px;
    cursor: pointer;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 20px auto; 
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

#cart img{
  width: 14%;
  height: auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.ul{
    text-align: center;
  }
a{
    text-decoration: none;
}  
.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.search-bar button {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 5px;
    cursor: pointer;
}


.total {
  margin-top: 20px;
}

.consulta {
  margin-top: 20px;
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

button.finalizar {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}
button.finalizar:hover {
  background-color: #45a049;
}

.consulta h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}


.consulta label {
  display: block;
  margin-bottom: 10px;
}


.consulta #cepInput {
  width: calc(100% - 80px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.consulta button {
  width: 80px;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.consulta #endereco {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  footer {
    color: #444; 
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .links-importantes {
    display: flex;
    justify-content: center;
  }
  
  .links-importantes a {
    color: #444; 
    text-decoration: none;
    margin: 0 10px;
  }
  
  .links-importantes a:hover {
    text-decoration: underline;
  }
  